<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/mainMenu.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		<div class="mainMenuWrapper">
			<table>
				<tbody>
					<tr>
						<td>
							<button type="button" class="action" id="startTransaction">Start Transaction</button>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="action" id="viewProducts">View Products</button>
						</td>
					</tr>
					<div sec:authorize="employeeClassification.isElevatedUser(employee.getClassification())">
				<!--<div th:class="${EmployeeClassification.isElevatedUser()} ? ${employee.classification}: 'hidden'"> -->
						<tr>
							<td>
								<button type="button" class="action" id="createEmployee">Create Employee</button>
							</td>
						</tr>
						<tr>
							<td>
								<button type="button" class="action" id="salesReport">Sales Report</button>
							</td>
						</tr>
						<tr>
							<td>
								<button type="button" class="action" id="cashierReport">Cashier Report</button>
							</td>
						</tr>	
					</div>
				</tbody>
			</table>
		</div>
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img src="/Sign-Out.png" id="signOutImage" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>